/*** FONTS ***/

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/*** TAGS ***/

a {
    text-decoration: none;
}

body {
    line-height: 1.75;
    background-image: linear-gradient(to bottom right, #FF55D2, #A454FF);
    z-index: 0;
}

body > * {
    z-index: 2;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #FDC4FD;
    border: none;
    color: black;
    transition: all 0.3s;
}

button:hover {
    background-color: #B80087;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

button:active {
    background-color: #FDC4FD;
    transition: all 0.3s;
}

details {
    padding: 10px 30px 0px 30px;
}

/* Saving for later */
/* footer {
    display: flex;
    padding: 20px 10px;
    margin: 0px;
} */

h1 {
    font-size: 32px;
    padding-top: 90px;
    margin: 22px 0px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 1rem 1rem 0 1rem;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    width: 100%;
    height: 80px;
}

header > * {
    position: fixed;
    top: 20px;
}

header img {
    height: 35px;
    opacity: 0.7;
    transition: all 0.3s;
}

header img:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s;
}

iframe {
    margin: 0;
}

label {
    font-weight: bold;
}

li {
    padding: 5px;
}

main {
    padding: 0 2rem 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

nav {
    right: 20px;
}

nav > * {
    margin-left: 12px;
}

section {
    max-width: 700px;
    margin: 0 auto;
}

select {
    margin: 10px 0;
}

small {
    font-size: 13px;
}

summary {
    list-style-position: outside;
    padding: 0px 0px 10px 20px;
}

textarea {
    width: calc(100% - 30px);
    height: 200px;
    padding: 15px;
    margin: 10px 0;
    resize: vertical;
}

video, section.video iframe {
    display: block;
    width: 100%;
    height: 315px;
    margin: 50px auto;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    border: none;
    background: black;
}

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    width: 100%;
    overscroll-behavior: none;
}

body, h1, h2, h3, h4, p, a, button, input, select, textarea, b, i {
    font-family: 'Poppins', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, h1, h2, h3, h4, p, b, i {
    color: white;
}

button:hover, div.card:hover {
    box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s;
}

h1, h2, h3, h4, button, p.center, small.center, p.btn {
    text-align: center;
}

h4, p, b, i, input, textarea, select, label, button {
    font-size: 16px;
}

input, select {
    width: 100%;
    padding: 8px;
    background-color: white;
}

input, select, textarea {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    border-radius: 10px;
    color: black;
}

label, input {
    margin: 5px 0px;
}

ul, ol {
    margin: 0;
}

/*** CLASSES ***/

button.inline {
    box-shadow: none;
    cursor: default;
    padding: 5px 20px;
    font-size: 14px;
    margin: 0;
}

button.inline:hover {
    transform: none;
}

div.btn {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.li img.inline.line-start {
    width: 30px !important;
}

iframe.full {
    width: 100vw;
    border: none;
    margin: 0;
    height: calc(100% - 160px);
}

iframe.lone {
    margin: 0px !important;
}

iframe.round {
    margin: 20px 0px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: calc(100vh - 250px);
    border: none;
    border-radius: 12px;
}

img.external-icon {
    height: 15px !important;
}

img.copy-icon {
    height: 20px !important;
}

img.inline {
    height: 30px;
    object-fit: contain;
}

img.inline.line-start {
    margin: 0 20px 0 0 !important;
}

img.inline.line-end {
    margin: 0 0 0 20px !important;
}

p.btn {
    color: black;
    padding: 0;
    margin: 0;
}

small img.inline, button.inline img {
    height: 24px;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
    margin: 0px 5px !important;
    vertical-align: middle;
}

/*** IDS ***/

/* Saving for later */
/* #copyright {
    margin: auto;
} */

#contact-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* #contact-form button, #contact-form button:hover, #contact-form button:active {
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 0px;
    background: none;
    box-shadow: none;
} */

#contact-form img {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    transition: all 0.3s;
}

#contact-form img:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}

#nav-logo {
    left: 20px;
}

#nav-logo img, #contact-form img {
    height: 50px;
}